html {
  height: 100%;
}

#react-root {
  height: 100%;
}

.admin-layout {
  padding-top: 50px;
}

#map-container {
  height: 100%;
  width: calc(100%);
}
#map-journey-container {
  height: 100%;
  width: calc(100%);
}

#map.googleMap {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 0;
  width: calc(100%);
  height: 100%;
}

#map.googleJourneyMap {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 0;
  width: calc(100%);
  height: 100%;
}

.map-layout {
  height: 100%;
  padding-left: 0px;
  padding-right: 0px;
}
.map-sidebar {
  width: 10%;
  display: inline;
  height: 100%;
  float: left;
  padding-left: 0px;
  padding-right: 0px;
  background-color: #F9F3E6;
}
.map-sidebar img {
  width: 100%;
  height: 100%;
}

.map-main {
  width: 100%;
  height: 100%;
  display: inline;
  float: left;
  padding-left: 0px;
  padding-right: 0px;
}

.map-journey {
  width: 100%;
  height: 100%;
  display: inline;
  float: left;
  padding-left: 0px;
  padding-right: 0px;
}
